body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameContainer {
  width: 320px;
  height: 480px;
  position: relative;
  border: 1px solid white;
}
